.conteiner{
    width: 600px;
    height: auto;
    padding: 25px;
    border: 4px solid black;
}

.pr{
    width: 95%;
    border: 3px solid blue;
    padding: 5px 15px;
}

h1{
    color: rgb(255, 4, 138);
}

.kr{
    width: 50px;
    height: 50px;
    border: 3px solid red;
    border-radius: 80%;
    margin-left: 390px;
    margin-top: 10px;
}


.photo{
    width: 350px;
    height: 150px;
    border: 3px solid blueviolet;
    border-radius: 35px;
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    color: blueviolet;
    font-weight: bold;
}
